@using System.Security.Claims
@{
    var role = User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role)?.Value;
}
<nav>
    <div class="logo-name">
        <div class="logo-image">
            <img id="logo" src="@Url.Content("~/assets/images/logo.png")" alt="">
        </div>
    </div>


    <div class="menu-items">
        <ul class="nav-links">
            
            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Admin" && ViewContext.RouteData.Values["action"].ToString() == "Dashboard") || ViewContext.RouteData.Values["action"].ToString() == "Log" ? "active" : "")">
                <a asp-controller="Admin" asp-action="Dashboard">
                    <i class="uil uil-estate"></i>
                    <span class="link-name">Dashboard</span>
                </a>
            </li>
            <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Admin" && ViewContext.RouteData.Values["action"].ToString() == "ManageUser" || ViewContext.RouteData.Values["action"].ToString() == "ManageUserDetails" ? "active" : ""))">
                <a asp-controller="Admin" asp-action="ManageUser">
                    <i class="uil uil-users-alt"></i>
                    <span class="link-name">Users</span>
                </a>
            </li>
            @if (role == "Admin")
            {
                <li class="@((ViewContext.RouteData.Values["controller"].ToString() == "Admin" && ViewContext.RouteData.Values["action"].ToString() == "ManageAdmin") ? "active" : "")">
                    <a asp-controller="Admin" asp-action="ManageAdmin">
                        <i class="uil uil-user-md"></i>
                        <span class="link-name">Admin</span>
                    </a>
                </li>
            }
        </ul>

        <ul class="logout-mode">
            <li>
                <a asp-controller="Admin" asp-action="LogOut">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a>
            </li>

            <li class="mode">
                <a href="#">
                    <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                    <span class="switch"></span>
                </div>
            </li>
        </ul>
    </div>
</nav>
